
  .imagen{
    width: 25%;
    margin-top: -3%;
    margin-left: -15%;
    position:relative;
    margin-bottom: -5%;
  }

  .botones{
    left: 50%;
    margin-top: -25%;
    margin-left: -15%;
    position:relative;
    margin-bottom: -5%;
  }