.Cardback{
    min-height:200px;
    width:192px;
    height: 250px;
    margin:0px 10px;
  }

  .Cardback:hover{
    box-shadow:0 0 4px 6px rgba(214, 1, 1, 0.3);
  }

.Rating {
    width: 100px;
  height: max-content;
  font-size: 13px;
 margin-left: 200px;
 display: flex;
}

.Imagen{
  border: 1px solid white;

}