.conteiner {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 50px;
    margin-left: 250px;
}

.seguidores {
    margin-left: 50px;
    text-align: center;
    margin-left: 80px;
    color: aliceblue;
}

.name {
    display: flex;
    position: absolute;
    margin-left: 550px;
    margin-top: 10px;
    color: #f44336;
}

.name .edit {
    margin-left: 100px;
    margin-top: 8px;
}

.avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.list {
    margin-left: 150px;
}

.PlayList {
    padding: 55px;
    position: relative;
    display: block;
}

.fondo23 {
    position: relative;
    background-image: url('../media/fondo.jpg');
    padding-top: 20px;
}