.titulo {
    position: relative;
    color: white;
}

.buscar {
    background-color: rgb(163, 162, 162);
    position: relative;
    height: 50%;
    width: 120%;
    border-radius: 10%;
}

.botonBusqueda {
    position: absolute;
    left: 122%;
    top: -32px;
}

.search {
    position: absolute;
    margin-top: 1%;
    left: 40%;
}

.buscar :focus {
    background-color: white;
}

.buscar2 {
    position: absolute;
    height: 40px;
    left: 232%;
    top: 5px;
    background-color: aliceblue;
    border-radius: 10px;
}

.botonBusqueda2 {
    position: absolute;
    left: 232%;
    top: 5px;
    height: 40px;
    border-radius: 10px;
}

.search2 {
    position: relative;
    top: 30px;
    width: 680px;
    margin-bottom: -15px;
    background-color: aliceblue;
    border-radius: 10px;
    height: 50px;
}