.titulo{
position: relative;
color: white;
}

.buscar{
    background-color: white;
    position: relative;
}

.search{
    display: flex;
    justify-content: center;
    margin-top: 28%;
    text-align: center;
}