.carrousel{
 width:1356px; 
height:175px;
position: absolute;
}

.carousel-item{
  align-items: center;
    height: 300px;
  }

  .carousel-item > img {
    height: 100%;
  object-fit: center center
  


  }