.filtritos{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 79%;
    gap: 50px;
    padding-bottom: 20px;
    background: none;
} 

#demo-controlled-open-select{
    background-color: rgb(240, 240, 240);
}