.picture {
  border-radius: 50%;
  margin-top: 10px;
}

.register {
  color: black;
  text-decoration: none;
}

.register:hover {
  color: black;
  text-decoration: none;
}

#nav-dropdown {
  position: relative;
  color: rgb(255, 255, 255);
  padding: 10px;
  background-color: #f13528;
  border-color: rgb(165, 164, 164);
  height: 34px;
  width: 34px;
  padding: 5px;
  top: 0px;
  left: 0px;
}

#nav-dropdown:active {
  background-color: red;
}

.botones2 {
  bottom: 125px;
  left: 55px;
}

.drop {
  position: relative;
  background: 10px 30px 0px;
}

.botones4 {
  text-decoration: none;
}

.botonesDiv {
  position: absolute;
  text-align: center;
  left: 45%;
  top: 7%;
}

.my-modal .modal-content {
  width: 122.4%;
}

.tituloModal {
  position: relative;
  left: 34%
}

.botonRegisterLogin {
  text-decoration: none;
  color: aliceblue;
}

.botonRegisterLogin:hover {
  text-decoration: none;
  color: aliceblue;
}

.botones {
  text-decoration: none;
}

.deslogaut {
  position: relative;
  text-decoration: none;
}

.ll {
  text-decoration: none;
  color: white;
}