
.borde{
  background-color: rgb(139, 134, 134);
  color: rgb(139, 134, 134);
  padding: 3.1% 100% 0% 0px;
  margin-top: -8.5%;
  margin-left: -2%;
}
.imagen{
  width: 15%;
  margin-top: -1.5%;
  margin-left: -2%;
}

.contenido{
  display: inline-block;
  color: white;
  position: absolute;
  margin-top: -5%;
  margin-left: 84%
}
 


